/**

Canvas.css by forester2015
Feel free to use, but do not delete this header

**/

#left_navigation_box {
  display: none;
}
.blog-logout,
.blog-info {
  display: none !important;
}

#navigation_box {
  background-color: #313838;
  position: fixed;
  top: 0;
  left: 0;
  width: 78px;
  height: 100%;
  border: none;
}

#navigation_box::before {
  content: "";
  background-image: url(https://blog-css.github.io/images/canvas-nobg.png);
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  position: absolute;
  left: 18px;
  top: 30px;
  z-index: 1;
}

#blog-subscribe::before,
.blog-info::before {
  visibility: visible;
  font-family: "AoPS";
  font-size: 30px;
  line-height: 35px;
  color: var(--navigation-icon-color);
  margin-right: 7px;
}

#blog-subscribe {
  position: fixed;
  top: 140px;
  left: 10px;
  z-index: 199;
}

/* Unsubscribe */
#blog-subscribe[title="Click to stop receiving email notifications for new posts in this blog"] {
  left: 3px;
}

#blog-subscribe[title="Click to stop receiving email notifications for new posts in this blog"]::before {
  left: 24px;
}

#blog-subscribe::before {
  content: "i \A ";
  text-align: center;
  white-space: pre;
  position: absolute;
  top: -36px;
  left: 17px;
}

p.avatar > img {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 2px;
  z-index: 1000000 !important;

  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}
