/**

macOS.css by forester2015, sealsrock
Feel free to use, but do not delete this header

Credit to @happpycupcake for fluid archives
Credit to @ihatemath123 for search box of Discord.css

**/

:root {
  --date: "Thu 9:41 AM";

  /* Utility Properties */
  --window-gap: 50px;
  --neg-window-gap: -50px;

  /* Links to assets */
  --bg-url: url(https://cdn.artofproblemsolving.com/images/c/1/f/c1fc88f2484e0cc79c313573b1739da35907f917.jpg);
  --buttons-url: url(https://cdn.artofproblemsolving.com/images/9/f/2/9f2318d70e512aaee958a6eb3f709117a398e406.png);
}

body {
  overflow: hidden;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  background-image: var(--bg-url);
  height: 100%;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#wrapper {
  width: 55%;
  height: calc(100vh - 100px);
  border-radius: 10px;
  margin: var(--window-gap) 40px 50px 40px;
  float: left;
  overflow: auto;
  background: white;
}

#main {
  padding-top: 40px;
  width: 100%;
}

#main::before {
  top: 60px;
}

/* windows */
#wrapper,
#shouts-widget,
#archive-widget {
  border: rgba(195, 186, 186, 50%) solid 1px;
}

/* headlights */
#main::before,
#shouts-widget .widget-header::before,
#side::before {
  content: " ";
  position: absolute;
  background-image: var(--buttons-url);
  background-size: contain;
  background-repeat: no-repeat;
  height: 21px;
  width: 118px;
}

#side::before {
  top: 61px;
  left: 82%;
  z-index: 1;
}

#wrapper,
#archive-widget {
  border-top: 38px solid white !important;
}

/* patches */
#header {
  display: none;
}

#side {
  background-color: white;
}

/* navigation box */
#navigation_box {
  font-weight: 500;
  background-color: #1b365d;
  border-bottom: 1px dashed #fff;
  padding: 2px 2px 3px;
  font-size: 10pt;
  display: block;
  font-family: Arial;
  height: 22px;
  line-height: 14px;
  position: fixed;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  left: 0;
  top: 0;
  z-index: 900000;
  width: 100%;
  background-color: #5481b4;
  margin: 0;
  height: 25px !important;
  border: none;
  background: linear-gradient(45deg, #9c76c3a6, #4582b59c);
}

#navigation_box::before {
  content: "";
  position: absolute;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Apple_logo_white.svg/1200px-Apple_logo_white.svg.png);
  background-size: 13px 15px;
  height: 20px;
  width: 15px;
  background-repeat: no-repeat;
  float: left;
  left: 15px;
  top: 3px;
}

/* left navigation box */
#left_navigation_box {
  position: relative;
  font-size: 0pt;
  float: left;
  text-align: left;
  color: white;
  width: auto;
  display: flex;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  height: 22px;
  line-height: 14px;
  border: none;
  margin-left: 45px;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-35%);
}

#left_navigation_box > a,
#left_navigation_box::before {
  font-size: 11pt;
}

#left_navigation_box > a:nth-child(1) {
  margin-left: 10px;
}
#left_navigation_box > a:nth-child(2) {
  margin-left: 10px;
}
#left_navigation_box > a:nth-child(3) {
  font-weight: bold;
}
#left_navigation_box > a:nth-child(4) {
  margin-left: 10px;
}

#left_navigation_box > a:nth-child(1) {
  order: 2;
}
#left_navigation_box > a:nth-child(2) {
  order: 3;
}
#left_navigation_box > a:nth-child(3) {
  order: 1;
}
#left_navigation_box > a:nth-child(4) {
  order: 4;
}

/* right navigation box */
#right_navigation_box {
  font-size: 0px;
}

#right_navigation_box > a {
  font-size: 11pt;
  margin: auto 5px auto 5px;
  transform: translateY(20%);
}

#right_navigation_box > a:nth-child(2) {
  font-size: 0pt !important;
}

#right_navigation_box {
  font-size: 0pt !important;
}
#right_navigation_box::before {
  content: var(--date);
  font-size: 11pt;
  position: absolute;
  right: 100px;
  top: 4px;
  width: 85px;
}

/* navigation box icons */
.blog-info {
  font-size: 0pt !important;
}

.blog-info::before {
  content: "d";
  font-family: "AoPS";
  font-size: 16pt;
  position: absolute;
  right: 80px;
  top: 1px;
  width: 100%;
}

#blog-subscribe {
  font-size: 0pt !important;
}

#blog-subscribe::before {
  content: "i";
  font-family: "AoPS";
  font-size: 16pt;

  position: absolute;
  right: 30px;
  top: 1px;
  width: 100%;
}

/* shouts widget */
#shouts-widget {
  overflow: hidden !important;
  height: calc(100vh - 100px);
  border-radius: 10px;
  margin: 100px auto 50px auto;
  position: absolute;
  left: 60%;
  background-color: white;
  padding: 50px 10px 10px 10px;
  top: var(--neg-window-gap);
  width: 19.5vw;
}

#shouts-widget .widget-title {
  position: relative;
}

#shouts-widget .widget-header::before {
  top: 10px;
  left: 8px;
}

#shouts-widget::-webkit-scrollbar {
  display: none !important;
}

.blog-shout-wrapper {
  height: calc(50vh - 20px) !important;
}

#charsleft,
.blog-num-shouts {
  display: none;
}

#message {
  margin: 0px 2px 2px;
  height: 102px;
  width: 100%;
}

/* tags */
.blog-tags-wrapper {
  display: none;
  position: absolute;
  right: -60000px;
  background-color: #bcbcbc;
  padding: 10px;

  border-radius: 10px;
  border: none;
  margin: 100px auto 50px 40px;

  overflow: auto;
}
#side > div:nth-child(4) > div.widget-header > div,
#side > div:nth-child(5) > div.widget-header > div {
  display: none !important;
}

#feed-wrapper {
  display: none;
}

/* user menu widget */
#user-menu-widget .description {
  display: none;
}

.user-full {
  display: none;
}

/* user avatar */
p.avatar > img {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 2px;
  z-index: 1000000 !important;

  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

/* search widget */
input#blog_keywords.inputbox.search::before {
  content: " ";

  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+PGNpcmNsZSBpZD0iY2lyY2xlIiBmaWxsPSJub25lIiBzdHJva2U9IiMzMzMiIHI9IjEwIiBjeD0iMTEiIGN5PSIxMSIvPjxwYXRoIGlkPSJsaW5lIiBzdHJva2U9IiMzMzMiIGQ9Im0yNy4wNjk2OTEsMzAuMTUxMTFsLTkuNjQxODIxLC0xMS40OTA2NjkiLz48L2c+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  border-left: 1px solid #e6e6e6;
  transition: background-color 0.3s ease 0.114s,
    border-right-color 0.3s ease 0.114s;
  width: 2.6rem;
  position: absolute;
  z-index: 100000000000000000000000000 !important;
  right: 11px;
  top: 200.5px;
}

input#blog_keywords.inputbox.search {
  z-index: 100000000000000000000000000 !important;

  position: fixed;
  top: 2.5px;
  width: 125px;
  height: 19px;
  background-color: white;
  border: none;
  padding: 0px 5px;
  border-radius: 4px;
  color: black;
  right: 201px;
  font-size: 13px;
}

input#blog_keywords::before {
  content: "";
  position: absolute;
  top: 100px;
  right: 100px;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+PGNpcmNsZSBpZD0iY2lyY2xlIiBmaWxsPSJub25lIiBzdHJva2U9IiMzMzMiIHI9IjEwIiBjeD0iMTEiIGN5PSIxMSIvPjxwYXRoIGlkPSJsaW5lIiBzdHJva2U9IiMzMzMiIGQ9Im0yNy4wNjk2OTEsMzAuMTUxMTFsLTkuNjQxODIxLC0xMS40OTA2NjkiLz48L2c+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  border-left: 1px solid #e6e6e6;
  transition: background-color 0.3s ease 0.114s,
    border-right-color 0.3s ease 0.114s;
  width: 5.6rem;
}

#search-widget > div {
  height: 0px;
  background-color: #fff0;
  border-radius: 0;
  color: #fff0;
  width: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}
div#search-widget > div:not(div.widget-content) {
  display: none;
}
div#search-widget input.button2 {
  display: none;
}
div#search-widget fieldset {
  border: none;
  background-color: #fff0;
  width: 0;
  height: 0;
}
div#search-widget {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0 !important;
}

form#blog_searchform::before {
  content: "";
  background-image: url(https://i.imgur.com/dhBlGPw.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  position: absolute;
  top: 3px;
  right: 332px;
  width: 18px;
  height: 17px;
  z-index: 1000000 !important;
}

/* contrib widget */
#contrib-widget {
  display: none !important;
}

/* about owner widget */
#about-owner-widget {
  display: none;
}

/* stats widget */
#stats-widget {
  display: none;
}

/* archive widget */
#archive-widget {
  position: absolute;
  right: 0;
  background-color: white;
  overflow: auto !important;
  width: 17%;
  height: calc(100vh - 100px);
  border-radius: 10px;
  margin: 100px auto 50px auto;
  position: absolute;
  left: 80%;
  background-color: white;
  padding: 20px 10px 10px 10px;
  top: var(--neg-window-gap);
}

.month-image {
  background: url(https://cdn.iconscout.com/icon/free/png-256/right-arrow-1767593-1502497.png) !important;
  background-size: 16px 16px !important;
  padding-left: 16px;
  width: 16px;
  height: 16px;
  transition: transform 1s;
  transform: rotate(90deg);
}

.month-image[alt="+"] {
  transition: transform 1s;
  transform: rotate(-360deg);
}

.archive-month-topics {
  display: block;
  height: auto;
}

.archive-row {
  transition: transform 0.4s 0.2s, height 0.4s;
  height: 20px;
  padding: 0 0 0 30px;
}

.archive-month-collapsed .archive-row {
  transition: transform 0.4s, height 0.2s 0.2s;
  transform: scaleY(0);
  height: 0;
}

/* new entry */
#post-new-entry-img {
  display: none;
}

#post-new-entry {
  font-size: 0 !important;
}

#post-new-entry::before {
  content: "V";
  font-family: "AoPS" !important;
  font-size: 20px !important;
  background-color: #ededeb;
  padding: 3px 10px 3px 10px;
  border-radius: 4px;
  position: relative;
  top: -30px;
  right: 20px;
  float: right;
  transition: 0.3s background-color ease;
}

#post-new-entry:hover::before {
  background-color: #dbdbd7;
  transition: 0.3s background-color ease;
}

/* entry */
.entry {
  border-bottom: none !important;
  margin: 0 !important;
}

.entry > h1 > a {
  color: black !important;
}

.entry > h2 > a > img {
  display: none !important;
}

.entrywrap {
  border-radius: 2px;
}

.efooter {
  margin-top: 20px;
}

*::-webkit-scrollbar {
  display: none;
}

/* blog replies, blog comment, edit post, moderate post */
.post-replies,
.post-comment,
.blog-edit-post,
.blog-moderate-topic {
  font-size: 0 !important;
  border: none !important;
  text-decoration: none !important;
  margin: 0 3px 0 3px;
}

.post-replies::before,
.post-comment::before,
.blog-edit-post::before,
.blog-moderate-topic::before {
  font-family: "AoPS" !important;
  font-size: 20px !important;
  background-color: #ededeb;
  padding: 3px 10px 3px 10px;
  border-radius: 4px;
}

.post-replies::before {
  content: "t";
}

.post-comment::before {
  content: "N";
}

.blog-edit-post::before {
  content: "L";
}

.blog-moderate-topic::before {
  content: "X";
}

.post-replies:hover::before,
.post-comment:hover::before,
.blog-edit-post:hover::before,
.blog-moderate-topic:hover::before {
  background-color: #dbdbd7;
  transition: 0.3s background-color ease;
}
