.name {
  margin-left: 50px;
}

.main-subtitle {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  margin-left: 10px;
}

.main-title {
  font-style: italic;
  font-weight: 600;
}

.main-desc {
  width: 50vw;
  font-size: 20px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 40px;
  margin-top: 40px;
  cursor: pointer;
}

.pl-name-date > * {
  display: inline-block;
}

.img-card {
  display: flex;
  justify-content: center;
  width: 19vw;
  height: 20%;
  border-radius: 15px;
  box-shadow: 1px 3px 20px 0px black;
  padding: 10px;
  align-items: center;
}

.img-card > img {
  border-radius: 10px;
  max-width: 16vw;
  max-height: 22vh;
}

.visit {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.visit:hover {
  color: #ff8a00;
  transition: 0.3s;
}

.projects {
  margin-top: 60px;
}

.recent-projects-content,
.projects-content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.view-all {
  font-family: "Poppins";
  letter-spacing: 1px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
