@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

@font-face {
  font-family: "AoPS";
  src: url("https://artofproblemsolving.com/assets/fonts/aops/new_aops.eot");
  src: url("https://artofproblemsolving.com/assets/fonts/aops/new_aops.eot")
      format("embedded-opentype"),
    url("https://artofproblemsolving.com/assets/fonts/aops/new_aops.woff")
      format("woff"),
    url("https://artofproblemsolving.com/assets/fonts/aops/new_aops.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Defaults */
body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: linear-gradient(25deg, #00cfff, #006dff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

a:focus {
  outline: none;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

hr {
  border: 0.2px white solid;
  background: white;
}

.icon {
  width: 35px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.site-links {
  margin-right: 10px;
}

.site-links * {
  margin: 0 5px 0 5px;
}

/* Font size */
.xl {
  font-size: 100px;
}

.l {
  font-size: 40px;
}

.m {
  font-size: 30px;
}

.s {
  font-size: 14px;
}

.center {
  text-align: center;
  display: block;
  margin-top: 2rem;
}

/* Font Awesome */
.fa-chevron-circle-right {
  margin-right: 4px;
}

.aops-font {
  font-family: "AoPS" !important;
}

.title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.1px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.subtitle {
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}

.big-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.1px;
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

/*














*/

.name {
  margin-left: 50px;
}

.main-subtitle {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  margin-left: 10px;
}

.main-title {
  font-style: italic;
  font-weight: 600;
}

.main-desc {
  width: 50vw;
  font-size: 20px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 40px;
  margin-top: 40px;
  cursor: pointer;
}

.pl-name-date > * {
  display: inline-block;
}

.img-card {
  display: flex;
  justify-content: center;
  width: 19vw;
  height: 20%;
  border-radius: 15px;
  box-shadow: 1px 3px 20px 0px black;
  padding: 10px;
  align-items: center;
}

.img-card > img {
  border-radius: 10px;
  max-width: 16vw;
  max-height: 22vh;
}

.visit {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.visit:hover {
  color: #ff8a00;
  transition: 0.3s;
}

.projects {
  margin-top: 60px;
}

.recent-projects-content,
.projects-content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.view-all {
  font-family: "Poppins";
  letter-spacing: 1px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
